* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ea580c;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 15%;
    background: black rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

/*
------------------------------------------------------------------------------
The Logo Section
*/
.logo {
    font-family: "Poppins";

    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/*
controls the efect when the mouse on the name logo 
*/
.logo:hover {

    transform: scale(1.1);
}

/*
the span bellow controls the colors gradient of the second name and style it  
*/
span {
    background: linear-gradient(270deg,
            #df9808 10%,
            #ff1d15 100%);
    -webkit-background-clip: text; /* لمتصفحات هام جدا WebKit (Chrome/Safari) */

    background-clip: text;
    -webkit-text-fill-color: transparent; /* مهم لسفاري */
    color: transparent;
}

/*
---------------------------------------------------------------------------------
*/
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}

.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg,
            #df9808 10%,
            #ff1d15 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;

}

.gradient-btn a {

    color: white;
}

.gradient-btn:hover {

    transform: scale(1.05);
}

section {

    min-height: 100vh;
    padding: 10rem 13%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home-content h3{
    margin:1rem 0;
    font-size: 4rem;
}

/*#intro-text {
    margin:1rem 0;
    font-size: 4rem;
    align-self: flex-end; !* محاذاة العنصر نفسه لليسار داخل flex *!
    text-align: right;

}*/

.home-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
}

#typing-text {
    font-family: "Poppins";
    border-right: 3px solid var(--bg-color);
    padding-right: 5px;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--main-color);
    }
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    font-family: "Poppins";

    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {

    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
        0 0 25px var(--main-color);
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

/*
---------------------------------------------------------------------------------
Start of the About Me Section
*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.about-content h2 {
    font-size: 7rem;
    text-align: left;
}

.about-content p {
    text-align: left;
    font-size: 1.8rem;
}

.about-content .btn {
    margin: 3rem 0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

/*
---------------------------------------------------------------------------------
Start of the skills section
*/
.skills {

    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);

}


.skills .skills-row {

    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {

    flex: 1 1 40rem;
}

.skills-column .title {

    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;

}

.skills-box .skills-content:hover {
    background-color: var(--second-bg-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {

    color: var(--text-color);

}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 82%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 80%;
}




.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}





/*
---------------------------------------------------------------------------------
Start of the services section
*/
.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.services {
    background-color: var(--bg-color);
    color: black;
}

.services h2 {
    color: var(--text-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 500px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.service-box:hover {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.service-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.service-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.service-info p {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.7;
}

.service-info i {
    font-size: 8rem;

}

/* 
Start of the projects section
 */

.projects {
    background-color: var(--second-bg-color);
    font-size: 10rem;

}

.projects h2{
    font-size: 6rem;
}

.projects p{
    font-family: "Poppins";
}

.projects-box {
    display: grid;
    place-items: stretch; /* مهم لملئ الكرت كاملًا */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    row-gap: 5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
    height: 100%; /* يملأ الشبكة بنفس الطول */

}

.project-card a {
    color: var(--bg-color);
}

.project-card:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    transform: scale(1.02);
}

.project-card img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 2rem;
    object-fit: cover;
}

.project-card h3 {
    font-size: 3rem;
}

.project-card p {
    font-size: 1.6rem;
}

/*  
Start of Contact Form
*/

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

/* 
Start of footer section
*/
.footer {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}

.footer .social-icons {
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: epx solid var(--main-color);
}

.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media(max-width:768px) {

    .header {
        padding: 1.2rem 5%;
    }
    .header a{
        font-size: 1.8rem;
    }


    #menu-icon {
        display: block;
    }


    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar.active {
        display: block;
    }

    .gradient-btn {
        display: none;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }

    .home-content {
        align-items: center;
    }
    .home-content h1 {
        font-size: 4rem;
        font-weight: 500;
    }
    .home-content h3{
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1rem;
        font-weight: 100;
        line-height: 3;
    }

    .home-img {
        width: auto;
    }
    .social-icons a {
        font-size: 2rem;
        padding: 0.8rem;
    }
    .btn {
        border-radius: 3rem;
        font-size: 1.2rem;
        border: 0px solid transparent;
        font-weight: 500;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about h2 {
        font-size: 4rem;
        text-align: center;
        margin: 2rem 0;
    }

    .about img {
        width: 52vw;
    }

    .skills h2 {
        font-size: 4rem;
    }
    .projects h2{
        font-size: 4rem;
    }
    .contact form {
        flex-direction: column;
    }
}